body {
    margin: 0;
    background-color: #17181B;
    color: #e8e8e8;
    font-family: 'PyeojinGothic';
}
* { box-sizing: border-box; }
img { vertical-align: middle; }
a {color: white; text-decoration: none;}
ul, li { margin: 0; padding: 0; list-style-type: none; }
h1, h2, h3, p, figure { margin: 0; }
table { border-collapse: collapse; }