.back {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.popup {
    margin-top: 50px;
    width: 740px;
    height: 820px;
    background-color: #17181B;
    border: 1px solid #2D2C2F;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(100);
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        .titleName {
            display: flex;
            align-items: center;
            gap: 5px;

            >h3 {
                font-size: 24px;
            }

            .editDate {
                font-size: 16px;
                font-weight: bold;
                color: #898F9A;
            }
        }

        .xbtn {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #2D2C2F;
            }
        }
    }

    .inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;
    }

    .checkbox {
        appearance: none;
        cursor: pointer;
        width: 13px;
        height: 13px;
        aspect-ratio: 1/1;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #262729;
        border: 1px solid #5A5B5C;
        border-radius: 3px;

        &:checked {
            background: url(/img/icon/ic-check.svg) no-repeat center / contain;
            background-color: #85D575;
            border: 1px solid #5A5B5C;
            border-radius: 3px;
        }
    }

    .checkboxNone {
        background-color: transparent;
        border: none;
        width: 13px;
        height: 13px;
        aspect-ratio: 1/1;
    }

    /* 표 상단 */
    .graphTop {
        display: flex;
        align-items: center;
        justify-content: space-between;



        .searchAndperiod {
            display: flex;
            align-items: center;
            gap: 10px;

            .editDate {
                font-size: 16px;
                font-weight: bold;
                color: #76DE99;
            }

            .searchBar {
                width: 190px;
                height: 33px;
                background-color: #262729;
                border: 1px solid #76DE99;
                border-radius: 99999px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                gap: 5px;

                >button {
                    width: fit-content;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    padding: 0;
                    cursor: pointer;
                }

                >input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #e8e8e8;
                }
            }

            .period {
                padding: 0;
                z-index: 6;

                .dropdown {
                    z-index: 3;
                }
            }
        }

        .btns {
            display: flex;
            gap: 10px;

            >p {
                width: 33px;
                aspect-ratio: 1 / 1;
                background-color: #76DE99;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8;
                cursor: pointer;
            }
        }
    }

    /* 표 스타일 */
    .graph {
        flex-grow: 1;
        background-color: #1F2022;
        border-radius: 11px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .text {
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            >div {
                width: 100%;
                display: flex;
                gap: 10px;

                &.plus {
                    color: #85D575;
                    font-weight: bold;
                }

                &.minus {
                    color: #F34C4C;
                    font-weight: bold;
                }

                &.sale {
                    font-weight: bold;
                }

                &.date {
                    color: #898F9A;
                }
            }
        }

        .titleLine {
            padding: 0 90px 0 20px;
            background-color: #262729;
            display: flex;
            align-items: center;
            gap: 40px;
            font-weight: bold;

            .sortTab {
                cursor: pointer;

                >p {
                    cursor: pointer;
                }
            }
        }

        .lines {
            flex-grow: 1; // 부모의 남은 영역 채우기
            height: 413px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #565656;
                border-radius: 999px;
                border: 2px solid transparent;
                background-clip: padding-box;

                &:hover {
                    background: #76DE99;
                    border: 2px solid transparent;
                    background-clip: padding-box;
                }
            }
        }

        .inputLine {
            height: 60px;
            padding: 0 20px 0 73px;
            border-bottom: 1px solid #2D2C2F;
            display: flex;
            align-items: center;

            .text {
                width: 100%;
                display: flex;
                gap: 40px;

                >div {
                    align-items: center;
                    gap: 20px;

                    >div {
                        flex: 1;
                        min-width: 0;
                        display: flex;
                    }
                }

                input {
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 14px;
                    color: #e8e8e8;
                    height: 35px;
                    background-color: transparent;
                    box-shadow: none;
                    border: 1px solid rgba(137, 143, 154, 0.24);
                    border-radius: 5px;
                    padding: 0 8px;
                    margin: 0;
                    appearance: none;
                    /* 브라우저 기본 스타일 제거 */
                    -webkit-appearance: none;

                    &:focus {
                        outline: none;
                        border: 1px solid #76DE99;
                        color: #e8e8e8;
                    }

                    &::placeholder {
                        color: #888888;
                    }
                }

                .period {
                    flex: 1;
                    padding: 0;
                    z-index: 5;

                    .periodItem {
                        width: 100%;

                        .periodBtn {
                            width: 100%;
                            height: 35px;
                            padding: 0 8px;
                        }

                        .dropdown {
                            width: 100%;

                            >li {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .addBtn {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    aspect-ratio: 1/1;
                    border-radius: 999px;
                    cursor: pointer;

                    &:hover {
                        background-color: #262729;
                    }
                }
            }
        }

        .oneline {
            height: 60px;
            padding: 0 20px;
            border-bottom: 1px solid #2D2C2F;
            display: flex;
            align-items: center;
            gap: 40px;

            .editBtn {
                width: 30px;
                height: 30px;
                aspect-ratio: 1/1;
                border-radius: 999px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            &:hover {
                background-color: #262729;
                border-radius: 10px;
            }

            .text {
                >div {
                    flex: 1;
                }

                .editInput {
                    flex: 1;

                    >input {
                        width: 100%;
                        box-sizing: border-box;
                        font-size: 14px;
                        color: #e8e8e8;
                        height: 35px;
                        background-color: transparent;
                        box-shadow: none;
                        border: 1px solid rgba(137, 143, 154, 0.24);
                        border-radius: 5px;
                        padding: 0 8px;
                        margin: 0;
                        appearance: none;
                        /* 브라우저 기본 스타일 제거 */
                        -webkit-appearance: none;

                        &:focus {
                            outline: none;
                            border: 1px solid #76DE99;
                            color: #e8e8e8;
                        }

                        &::placeholder {
                            color: #888888;
                        }
                    }
                }
            }

            .period {
                padding: 0;

                .periodItem {
                    width: 100%;

                    .periodBtn {
                        width: 100%;
                        height: 35px;
                        padding: 0 8px;
                    }

                    .dropdown {
                        width: 100%;

                        >li {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .graphBot {

        >div {
            padding: 0 95px 0 80px;

            .text {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                padding: 10px 0;
                font-weight: bold;

                >p {
                    flex: 1;

                    &.compare {
                        color: #898F9A;
                    }

                    &.minus {
                        color: #F34C4C;
                    }

                    &.plus {
                        color: #85d575;
                    }
                }
            }
        }
    }

    .saveBtn {
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        background-color: #76DE99;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
}

.period {
    flex: 1;
    padding: 0;
    z-index: 5;

    .periodItem {
        width: 100%;

        .periodBtn {
            width: 100%;
            height: 35px;
            padding: 0 8px;
        }

        .dropdown {
            width: 100%;

            >li {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width:360px) and (max-width:1660px) {
    .popup {
        margin: 20px;

        .graph {
            .titleLine {
                padding: 0 60px 0 10px;
                gap: 10px;

                .sortTab {
                    align-items: center;
                }
            }

            .inputLine {
                padding: 0 10px 0 33px;

                .text {
                    gap: 10px;

                    .dropdown {
                        min-width: 150px !important;
                    }
                }
            }

            .oneline {
                padding: 0 10px;
                gap: 10px;
            }
        }

        .graphBot {
            >div {
                padding: 0 50px 0 33px;

                .text {
                    gap: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width:360px) and (max-width:768px) {}

@media only screen and (min-width:360px) and (max-width:480px) {
    .graphTop {
        gap: 10px;

        .btns {
            gap: 5px !important;
        }
    }

    .graphBot {
        >div {
            padding: 0 10px !important;
        }
    }
}